.project-img{
    max-width:200px;
    min-height:100px;
    background-color: gold;
}
.project-desc{
    text-align:center;
}
.project-title{
    font-size:32px;
    font-weight:500;
}
.content {
    padding:1.5rem;
    display:grid;
    grid-gap:1.5rem;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}
a.project-link{
    color:black;
    text-decoration: none;
    
    
}
.mousedover{
    scale:1.1;
}
.project{
    padding:10px;
    border:solid black 2px;
    border-radius:10px;
    box-shadow: 2px 2px #000000;
    transition-duration:0.1s;
    display:flex;
    flex-direction: column;
}

.title {
    padding:20px;
    background-color:#387a7a;
    color:honeydew;
    flex:1 0 80px;
    font-family:'Courier New', Courier, monospace;
    font-size:48px;
}
body{
    display:flex;
    flex-direction:column;
}
.footer{
    padding:1rem;
    background-color:#387a7a;
    color:honeydew;
    flex:1 0 80px; 
    display:flex;
    align-items: flex-end;
    justify-content: end;
}